@inherits LayoutComponentBase

<div class="store-wrapper">

    <header class="store-header">
        <h1>My Store App</h1>
    </header>

    <main class="store-main">
        @Body
    </main>

    <footer class="store-footer">
        © 2025 My Store
    </footer>

</div>
