@using Workshop8.Models

<div class="product-card">
    <img src="@Product.ImageUrl" alt="@Product.Name" />

    <h4>@Product.Name</h4>
    <p class="price">Price: $@Product.Price</p>
    <p class="likes">Likes: @Product.Likes</p>
</div>

@code {
    [Parameter]
    public Product Product { get; set; } = default!;
}
